<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./layout/head") %>

    <link rel="shortcut icon" href="/img/only-logo.png">
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/nav-bottom.css" />
    <link rel="stylesheet" href="/css/profile-edit.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="../js/profile.js" defer></script>
    <script defer>
      const userLoca = '<%= user.location %>';

      window.onload = function () {
        setLocation(userLoca);
      };
    </script>
    <title>코다마켓</title>
</head>

<body>
  <!-- HEADER -->
  <header class="header profile__header" id="header">
    <nav class="nav container">
      <div class="nav__btns">
        <a href="/profile" class="nav__toggle" id="nav-toggle">
          <i class="fas fa-times nav__icon"></i>
        </a>
      </div>
      <a href="javascript:void(0)" class="nav__logo">프로필 수정</a>
    </nav>
  </header>

  <!-- MAIN -->
  <main role="main" class="main">
    <!-- Profile -->
    <form class="profile section" id="profile form" method="post" action="/profile/edit" enctype="multipart/form-data">
      <div class="profile__container container grid profile" method="post" action="/profile/edit">
        <div class="profile__content grid">
          <div class="profile__img" id="target_img">
            <img src=<%=user.thumbnail ? `/${user.thumbnail}` : "/img/profile.png" %> alt="" class="img-profile">

          </div>
          <input type="file" id="file" name="image" accept="image/*" onchange="loadFile(this)">
        </div>

        <input type="text" name="name" class="profile__rename" placeholder="닉네임" value="<%=user.name %>">
        <p class="profile__alt">프로필 사진과 닉네임을 입력해주세요.</p>

        <div class="selectbox">
          <select class="select" name="location" id="addressDo2">
            <option value='지역 선택'>지역 선택</option>
            <option value='서울특별시'>서울특별시</option>
            <option value='부산광역시'>부산광역시</option>
            <option value='대구광역시'>대구광역시</option>
            <option value='인천광역시'>인천광역시</option>
            <option value='광주광역시'>광주광역시</option>
            <option value='대전광역시'>대전광역시</option>
            <option value='울산광역시'>울산광역시</option>
            <option value='경기도'>경기도</option>
            <option value='강원도'>강원도</option>
            <option value='충청북도'>충청북도</option>
            <option value='충청남도'>충청남도</option>
            <option value='전라북도'>전라북도</option>
            <option value='전라남도'>전라남도</option>
            <option value='경상북도'>경상북도</option>
            <option value='경상남도'>경상남도</option>
            <option value='제주도'>제주도</option>
          </select>
        </div>
        <p class="profile__alt">살고 있는 지역을 선택해주세요.</p>
        <input type="password" name="pwd" class="profile__pwd">
        <p class="profile__alt">변경하실 비밀번호를 입력해주세요.</p>
        <div>
          <button type="submit" id="submit" class="btn btn-primary done__btn">완료</button>
        </div>

      </div>
    </form>
</body>

</html>