li {
  display: inline;
}

.menus {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 50px;

  background-color: var(--body-color);

  z-index: 999;
}

.menu1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  font-size: 20px;
  cursor: pointer;
}

.menu1 .fa-arrow-left {
  margin-right: var(--mb-0-5);
}

.menu2 {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.menu2 .edit {
  margin-right: var(--mb-0-25);
}

.menu2 li a {
  position: relative;
  top: 2px;
  left: 10px;
  width: 100%;
  border: solid 1px;
  padding: 3px 10px 3px 10px;
  background-color: #7979d3;
  color: white;
  border-radius: 10px;
  font-size: 14px;

}

/* .menu2 button {
  display: inline;
  margin-top: 5px;
  font-size: 20px;
  margin-right: 20px;
} */

.menu1 i,
.menu2 i,
.menu2 a {
  color: #7979d3;
}

.detail-page {
  position: relative;
  width: 100%;
  margin: 0 10px 0 10px;
}

.detail-img img {
  width: 100%;
  height: 280px;
}

@media (min-width: 700px) {
  .detail-img {
    text-align: center;
  }

  .detail-img img {
    width: 700px;
    text-align: center;
  }
}

/* main_details img slide */

#main_slider {
  position: relative;

  width: 100%;
  height: 280px;
  margin-top: 50px;
}

.item img {
  object-fit: cover;
}

.owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.detail-ch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.detail-info {
  display: flex;
  align-items: center;
}

.info-my {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}
.detail-info > a > img {
  margin: 15px 15px 0 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.imfo-box {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 15px 0 0 0;
}

.imfo-box .like {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  font-size: 14px;
}

.imfo-box .dislike {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.like-on {
  color: blue;
}

.dislike-on {
  color: red;
}

.defailt-content {
  margin-top: 20px;
}

.content-info {
  display: flex;
  justify-content: space-between;
}
.sold-out-box {
  position: relative;
  bottom: 8px;
  right: 14px;
}

.content-info a {
  margin-left: 2px;
  margin-right: 10px;
}

.content-info span {
  margin-left: 10px;
  margin-bottom: 20px;
}

.content-mid {
  width: 100%;
  margin-bottom: 25px;
}

.content-bottom {
  margin-bottom: 20px;
}

.detail-report {
  margin: 20px 0 20px 0;
  font-size: 16px;
}

.now-product-list {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  gap: 1rem;
}

.now-product-list > a {
  color: gray;
  font-size: 14px;
  margin-right: 13px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1800px;
  margin-bottom: 15px;
  justify-content: space-between;
  padding: 35px 60px 15px 40px;
}

.container .product-item {
  width: 120px;
}

.container .product-info {
  display: grid;
}

@media (min-width: 425px) {
  .container {
    justify-content: unset;
  }
}

.container .product-item img {
  width: 250px;
  height: 100px;
  border-radius: 10%;
  object-fit: cover;
}

.container .product-info {
  margin-bottom: 10px;
}

.container .product-info a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
}

.detail-last {
  padding: 10px;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  background-color: white;
}

.detail-last .last-menu1 {
  display: flex;
}

.menus.navbar--dark {
  background-color: var(--body-color);
  padding: 8px;
}

.menu1-item {
  display: flex;
}

.dscription {
  display: flex;
  flex-direction: column;
}

.menu1-item button i {
  font-size: 24px;
  margin-right: 15px;
}

.menu1-item .re {
  border-left: solid 1px;
  margin-right: 10px;
  color: rgb(216, 209, 209);
}
.menu1-item #ds-pice {
  font-size: 18px;
  font-weight: bold;
  color: black;
  position: relative;
  top: 4px;

}

.menu1-item #ds-option {
  font-size: 13px;
}

.last-menu2 {
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
  width: 140px;
  height: 25px;
  border-radius: 7px;
  background-color: #7979d3;
  align-items: center;
  position: relative;
  bottom: 4px;
  left: 10px;
}

.last-menu2 a {
  align-items: center;
  color: white;
}

.save-cart {
  color: red;
}

.product-check {
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
  padding: 0.3rem 0.5rem;
  margin-right: var(--mb-0-25);
  font-size: 14px;
}

.check1 {
  color: #207e81;
}

.check2 {
  color: #f75e6a;
}

.title-top {
  display: flex;
  justify-content: space-between;
}

.product-check {
  position: relative;
  bottom: 12px;
}

.content-mid,
.content-bottom {
  margin-left: 2px;
}

.services__modal-title {
  text-align: center;
}

.btn-box {
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-auto-flow: column;
}

.btn-box button {
  width: 80px;
}

.btn-box .yes {
  background-color: #f75e6a;
}

.likeNum {
  margin-left: 2px;
  font-size: 12px;
}