<header>
  <div class="init">
    <select class="loca-select" onchange="selectLocation()">
      <option value="서울특별시">서울특별시</option>
      <option value="digitalDevice">부산광역시</option>
      <option value="인천광역시">인천광역시</option>
      <option value="대구광역시">대구광역시</option>
      <option value="울산광역시">울산광역시</option>
      <option value="광주광역시">광주광역시</option>
      <option value="대전광역시">대전광역시</option>

      <option value="경기도">경기도</option>
      <option value="강원도">강원도</option>
      <option value="충청북도">충청북도</option>
      <option value="충청남도">충청남도</option>
      <option value="전라북도">전라북도</option>
      <option value="전라남도">전라남도</option>
      <option value="경상북도">경상북도</option>
      <option value="경상남도">경상남도</option>
      <option value="제주도">제주도</option>
    </select>

    <ul class="btn-list">
      <li class="search-btn">
        <i class="fas fa-search"></i>
      </li>
      <li class="category-btn">
        <a href="../category">
          <i class="fas fa-bars"></i>
        </a>
      </li>
      <li class="alarm-btn">
        <div class="alarm-remain"></div>
        <i class="far fa-bell"></i>
      </li>
    </ul>
  </div>

  <div class="search none">
    <ul class="btn-list">
      <li class="back-btn">
        <i class="fas fa-arrow-left"></i>
      </li>
    </ul>

    <input type="text" name="input" onkeyup="enterkey()" placeholder="검색할 상품을 입력해주세요:)">
  </div>
</header>